html {
  background-color: rgba(243, 243, 243, 0.939);
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid black;
  width: 100vw;
  position: fixed;
  background-color: white;
}

.left-content {
  display: flex;
  align-items: center;
  margin-left: 15vw;
}

.brand-search,
.feature-search {
  margin-left: 5px;
}

.title {
  font-size: 30px;
}

.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

form {
}

.right-content {
  display: flex;
  align-items: center;
  margin-right: 15vw;
}

.signup {
  margin-left: 5px;
}

a {
  text-decoration: none;
}

.signup-wrapper {
  height: calc(100vh - 77px);
  justify-content: center;
  align-items: center;
  display: flex;
}

.signup-field {
  margin-bottom: 20px;
}

.login-wrapper {
  height: calc(100vh - 77px);
  justify-content: center;
  align-items: center;
  display: flex;
}

.login-field {
  margin-bottom: 20px;
}

main {
  display: flex;
  background-color: rgba(243, 243, 243, 0.939);
  height: 100%;
}

.main-wrapper {
  padding-top: 40px;
  width: 100vw;
  margin-top: 77px;
  height: 100vh;
}

.top-main-wrapper {
  width: 60vw;
  margin-top: 77px;
  padding-top: 40px;
  max-height: 100vh;
  overflow: auto;
  flex: 2;
}

.top-main-container {
  height: 150vh;
  margin-left: 15vw;
}

.main-container {
  margin: 0 15vw;
}

.mypage-like,
.recomend-container,
.review-container {
  border: 1px solid black;
  margin: 5px;
}

.side-menu {
  width: 40vw;
  margin-top: 77px;
  padding: 40px 0;
  float: right;
  max-height: 100vh;
  overflow: hidden;
  flex: 1;
  margin-right: 15vw;
}

.side-menu:hover {
  overflow: auto;
}

.mypage-content {
  height: 150vh;
}

.recomends-container {

}