body {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  border-bottom: 1px solid black;
  width: 100vw;
  position: fixed;
  background-color: white;
}

.left-content {
  display: flex;
  align-items: center;
}

.brand-search {
  margin-left: 5px;
}

.title {
  font-size: 30px;
}

.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
}

form {
  border-radius: 50px;
}

.right-content {
  display: flex;
  align-items: center;
}

.signup {
  margin-left: 5px;
}

header a {
  text-decoration: none;
}

.signup-wrapper {
  height: calc(100vh - 77px);
  justify-content: center;
  align-items: center;
  display: flex;
}

.signup-field {
  margin-bottom: 20px;
}

.login-wrapper {
  height: calc(100vh - 77px);
  justify-content: center;
  align-items: center;
  display: flex;
}

.login-field {
  margin-bottom: 20px;
}

main {
  display: flex;
  background-color: rgba(243, 243, 243, 0.939);
}

.guest-main-wrapper {
  padding: 40px 80px 0 80px;
  width: 100vw;
  margin-top: 77px;
}

.main-wrapper {
  width: 60vw;
  margin-top: 77px;
  padding: 40px 0 0 80px;
  max-height: 100vh;
  overflow: auto;
  flex: 2;
}

.main-container {
  height: 150vh;
}

.review-container {
  border: 1px solid black;
  margin: 5px;
}

.side-menu {
  width: 40vw;
  margin-top: 77px;
  padding: 40px 0 80px 0;
  float: right;
  max-height: 100vh;
  overflow: hidden;
  flex: 1;
}

.side-menu:hover {
  overflow: auto;
}

.mypage-content {
  height: 150vh;
}

.recomends-container {
  
}